.DS_Store
math_skills/*
YSSP2015_logistics/*
Literature/*
Personal/*
Writing/*
Empirical_data_and_supp_mat/*.mat
PDO_data.txt
Empirical_data_and_supp_mat/old_files/*
Empirical_data_and_supp_mat/figures/*
Empirical_data_and_supp_mat/yukon_environmental_data/*
pika_census_data/*
old_junk/*
Writing_drafts/*
Model_outputs/*
Manuscript/*
old_outputs/*

*.Rhistory
*.Rapp.history
*.m~


*.bbl
*.aux
*.log
*.out
*.gz
*.blg



Modeling/old_model_iterations/*
Modeling/BirthPulseModel/old_version_of_models/*
*example_pop_dyn*
example_pop_dyn/*
Other_Code/*
calculate_juvenile_mortality/*
old_outputs/*
Modeling/BirthPulseModel/FINAL_MODELS_general_attractor_either_cue/example_outputs/*
Modeling/BirthPulseModel/FINAL_MODELS_general_attractor_either_cue/model_outputs/old_outputs/*
Modeling/BirthPulseModel/FINAL_MODELS_general_attractor_either_cue/Other_Code/*
Empirical_data_and_supp_mat/yukon_environmental_data/*
Modeling/BirthPulseModel/FINAL_MODELS_general_attractor_either_cue/model_outputs/old_outputs/*
Empirical_data_and_supp_mat/pika_census_data/*
